#introduction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid;
}

#introduction > span{
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
}

#introduction > div{
    padding: 24px 0;
    font-size: 17px;
}

#introduction > div >ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

@media screen and (max-width: 1023px){
	
    #introduction > div{
      font-size: 15px;
    }

  }