#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  line-height: 2;
}

.content{
  border: 1px solid #dee2e6;
  border-radius: 6px;
  display: flex;
  gap: 35px;
  padding: 72px 0 24px 104px;
}

.content-info{
  width: 80%;
}

.content-menu{
  width: 20%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.content-menu-position{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 10%;
  min-width: 185px;
}

.content-menu-position > a{
  padding: 12px 20px;
  border: 1px solid;
  border-right: 0;
  border-color: #eaecee;
  border-radius: 100px 0 0 100px;
  width: 77%;
  background-color: #fff;
  color: #535961;
  font-weight: 500;
  font-size: 13px;
  text-align: left;
  line-height: 19px;
  text-decoration:none;
}

.content-menu-position > a.active{
  border-color: #00CCAA;
  background-color: #00CCAA;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}

.content-menu-position > a:hover{
  border-color: #00CCAA;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  cursor: pointer;
}

@media screen and (max-width: 1023px){
	
  .content-menu-position{
    min-width: 138px;
  }
  
  .content-menu-position > a{
    padding: 12px 14px;
  }
}

@media screen and (max-width: 800px){
	
  .content-menu-position {
    min-width: 100px;
  }
  
  .content-menu-position > a{
    font-size: 11px;
    padding: 12px 10px;
  }

  .content-menu-position > a.active{
    font-size: 11px;
  }
}